# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Intellij Projects\Graphics_test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
